name: Testing
on: push
jobs:
  test-and-build:
    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [16, 18]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}

      - uses: actions/cache@v3
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/package-lock.json') }}

      - run: npm install
      - run: npm run test:full
      - run: npm run build

      - uses: codecov/codecov-action@v1
        with:
          file: ./**/**/coverage-final.json
          flags: unittests
          name: universal
          fail_ci_if_error: true
          verbose: true
