name: Testing
on: push
jobs:
  test-and-build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        node: [18, 20]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}

      - uses: actions/cache@v3
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/package-lock.json') }}

      - run: npm install
      - run: npm run test:full
      - run: npm run build

      - uses: codecov/codecov-action@v4
        with:
          directory: ./coverage
          files: coverage-final.json
          flags: unittests
          name: universal
          fail_ci_if_error: false
          verbose: true
